# === IDEs ===
.idea/
*.iml
*.iws

# === Sistema Operativo ===
.DS_Store
Thumbs.db

# === Java / Spring Boot ===
target/
build/

# Archivos temporales de Spring (SDI, etc.)
*.tmp
*.sdi
*.swp
*.bak

# Logs
*.log
logs/

# === Archivos de configuración y entorno ===
.env
*.env

# === Docker ===
**/docker/mysql/data/
**/mysql/
**/volume-data/
**/mysql_keycloak_data/

# === Maven ===
.mvn/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# === Test Reports ===
test-output/
surefire-reports/
jacoco.exec

# === Otros temporales ===
*.class
*.war
*.jar
*.ear

# === IntelliJ Run Configurations ===
*.run.xml